*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right, #101d2c, #101d2c, #073f7e);
}

.container {
  margin: auto;
  margin-top: 3vh;
  max-width: 60vw;
  font-size: 1.7rem;
  /* border: solid 3px #c69963; */
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;

  border: 25px solid #b88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E")
    25;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:2;
}

.mypic{
  grid-column: 1/1;
  grid-row: 1/1;
}

.title{
  grid-column: 2/-1;
  grid-row: 1/1;
  margin: auto;
  padding-left: 2vw;
}

.left{
  grid-column: 1/2;
  grid-row: 2/2;
}

.right{
  grid-column: 2/ 4;
  grid-row: 2/2;
  padding-left: 2vw;
}

.heading-1,
.heading-2,
.heading-3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  
}

.heading-1 {
  font-size: 4rem;
  color: #f9f7f6;;
}

.heading-2 {
  font-size: 2rem;
  font-style: italic;
  line-height: 1;
  font-weight: 600;
  color: #54483a;
  margin-top: 3rem;
  background-color: hsl(34, 25%, 46%);
  padding: 0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  text-transform: uppercase;
}

.heading-2:hover {
  color: #f9f7f6;
}

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  
  margin-top: 2rem;
}

.mypic {
  border-radius: 50% 10%;
  background-image: url(img/Mai.png),
    linear-gradient(to bottom left, #54483a, #b88846, #b88846);
  height: 100px;
  grid-column: 1/1;
}

.pic {
  flex-shrink: 0;
  margin:auto;
  height: calc(5rem + 2vw);
  width: calc(5rem + 2vw);
  border: calc(2px + 0.1vw) solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg__icon {
  fill: #c69963;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

.svg__icon:last-of-type{
  margin-left: 1.4rem;
}

a {
  text-decoration: none;
  color: #6d5d4b;
}

@media (max-width: 1199.98px) { 
  .container {
    max-width: 95vw;
  }
 }

 @media (max-width: 867.98px) {
  .container {
    margin: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .header {
    justify-content: center;
  }
  .heading-1 {
    font-size: 3rem;
  }
  .heading-2 {
    margin-top: 2rem;
  }
  .heading-3 {
    margin-top: 1.5rem;
  }
  .pic {
    height: calc(6rem + 4vw);
    width: calc(6rem + 4vw);
    border: calc(2px + 0.1vw) solid transparent;
  }
}

@media (max-width: 767.98px) { 
  .container{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
  }
 }

 @media (max-width: 575.98px) { 
   
  heading-1 {
    font-size: 2rem;
   }
   .heading-2 {
    font-size: 1.5rem;
   }
  }

/* Border https://codepen.io/MyXoToD/pen/VaazQq */
