*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right, #101d2c 80%, #073f7e);
}

.container {
  margin: auto;
  margin-top: 3vh;
  max-width: 60vw;
  font-size: 1.7rem;
  /* border: solid 3px #c69963; */
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:1;

}

.title{
  padding-left: 2vw;
} 

.header{
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.left{
  grid-column: 3/3;
  grid-row: 1/ 2;
  padding-left: 2vw;
}

.right{
  grid-column: 4/4;
  grid-row: 1 /-1 ;
  padding-left: 2vw;
}

.heading-1,
.heading-2,
.heading-3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  
}

.heading-1 {
  font-size: 4rem;
  color: #f9f7f6;
}

.heading-2 {
  font-size: 2rem;
  font-style: italic;
  line-height: 1;
  font-weight: 600;
  color: #54483a;
  margin-top: 3rem;
  background-color: hsl(34, 25%, 46%);
  padding: 0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  text-transform: uppercase;
}

.heading-2:hover {
  color: #f9f7f6;
}

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  
  margin-top: 2rem;
}

.mypic {
  border-radius: 30%;
  background-image: url(img/Mai.jpeg),
    linear-gradient(to bottom left, #54483a, #b88846, #b88846);
  height: 150px;
  grid-column: 1/1;
}

.pic {
  flex-shrink: 0;
  margin:auto;
  height: calc(15rem + 2vw);
  width: calc(12rem + 2vw);
  border: calc(1px + 0.1vw) solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg__icon {
  fill: #c69963;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

.svg__icon:last-of-type{
  margin-left: 1.4rem;
}

a {
  text-decoration: none;
  color: #6d5d4b;
}

@media (max-width: 1600px) { 
  .container {
    max-width: 95vw;
  }
 }

 @media (max-width: 867.98px) {
  .container {
    margin: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .header {
    justify-content: center;
  }
  .heading-1 {
    font-size: 3rem;
    margin: auto;
  }
  .heading-2 {
    margin-top: 2rem;
  }
  .heading-3 {
    margin-top: 1.5rem;
  }
  .pic {
    height: calc(6rem + 4vw);
    width: calc(6rem + 4vw);
    border: calc(2px + 0.1vw) solid transparent;
  }
  .container{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 2vw
  }
  .header{
    padding-left: 2vw;
  }
}

@media (max-width: 767.98px) { 
  .left{
    padding-left: 2vw;
  }
 }

 @media (max-width: 575.98px) { 
   
  heading-1 {
    font-size: 2rem;
   }
   .heading-2 {
    font-size: 1.5rem;
   }
  }

  @page {
    size: 21cm 29.7cm;
    margin: 1cm 1.5cm 1cm 1.5cm;
  }

@media print {
  .mypic{
    height: 0;
  }
}

.gradient-border {
  --border-width: 3px;
  position: relative;
  
  background: #222;
  border-radius: var(--border-width);
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
/* Gradient border https://codepen.io/alphardex/pen/vYEYGzp*/
